In [18]:
# Importing necessary libraries
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split, RandomizedSearchCV
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import r2_score
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.svm import SVR
import pickle

In [2]:
# Reading the cleaned dataset
cleaned_df = pd.read_csv('..\Cleaned_Data\Cleaned_Data_LogPrice.csv')
cleaned_df.head()

,Suburb,Rooms,Type,Price,Distance,Bathroom,Car,Region,Log_Price
0,Abbotsford,2,h,1480000.0,2.5,1.0,1.0,Northern Metropolitan,14.207553
1,Abbotsford,2,h,1035000.0,2.5,1.0,0.0,Northern Metropolitan,13.849913
2,Abbotsford,3,h,1465000.0,2.5,2.0,0.0,Northern Metropolitan,14.197366
3,Abbotsford,3,h,850000.0,2.5,2.0,1.0,Northern Metropolitan,13.652993
4,Abbotsford,4,h,1600000.0,2.5,1.0,2.0,Northern Metropolitan,14.285515

In [3]:
# Enumerate Type
encode = LabelEncoder().fit(cleaned_df['Type'])
carpet = {x: i for i, x in enumerate(encode.classes_)}
carpet

{'h': 0, 't': 1, 'u': 2}

In [4]:
# Enumerate Suburb
encoder = LabelEncoder().fit(cleaned_df['Suburb'])
carp = {x: i for i, x in enumerate(encoder.classes_)}
carp

{'Abbotsford': 0,
 'Aberfeldie': 1,
 'Airport West': 2,
 'Albanvale': 3,
 'Albert Park': 4,
 'Albion': 5,
 'Alphington': 6,
 'Altona': 7,
 'Altona Meadows': 8,
 'Altona North': 9,
 'Ardeer': 10,
 'Armadale': 11,
 'Ascot Vale': 12,
 'Ashburton': 13,
 'Ashwood': 14,
 'Aspendale': 15,
 'Aspendale Gardens': 16,
 'Attwood': 17,
 'Avondale Heights': 18,
 'Bacchus Marsh': 19,
 'Balaclava': 20,
 'Balwyn': 21,
 'Balwyn North': 22,
 'Bayswater': 23,
 'Bayswater North': 24,
 'Beaconsfield': 25,
 'Beaconsfield Upper': 26,
 'Beaumaris': 27,
 'Bellfield': 28,
 'Bentleigh': 29,
 'Bentleigh East': 30,
 'Berwick': 31,
 'Black Rock': 32,
 'Blackburn': 33,
 'Blackburn North': 34,
 'Blackburn South': 35,
 'Bonbeach': 36,
 'Boronia': 37,
 'Botanic Ridge': 38,
 'Box Hill': 39,
 'Braybrook': 40,
 'Briar Hill': 41,
 'Brighton': 42,
 'Brighton East': 43,
 'Broadmeadows': 44,
 'Brookfield': 45,
 'Brooklyn': 46,
 'Brunswick': 47,
 'Brunswick East': 48,
 'Brunswick West': 49,
 'Bulleen': 50,
 'Bullengarook': 51,
 'Bundoora': 52,
 'Burnley': 53,
 'Burnside': 54,
 'Burnside Heights': 55,
 'Burwood': 56,
 'Burwood East': 57,
 'Cairnlea': 58,
 'Camberwell': 59,
 'Campbellfield': 60,
 'Canterbury': 61,
 'Carlton': 62,
 'Carlton North': 63,
 'Carnegie': 64,
 'Caroline Springs': 65,
 'Carrum': 66,
 'Carrum Downs': 67,
 'Caulfield': 68,
 'Caulfield East': 69,
 'Caulfield North': 70,
 'Caulfield South': 71,
 'Chadstone': 72,
 'Chelsea': 73,
 'Chelsea Heights': 74,
 'Cheltenham': 75,
 'Chirnside Park': 76,
 'Clarinda': 77,
 'Clayton': 78,
 'Clayton South': 79,
 'Clifton Hill': 80,
 'Coburg': 81,
 'Coburg North': 82,
 'Coldstream': 83,
 'Collingwood': 84,
 'Coolaroo': 85,
 'Craigieburn': 86,
 'Cranbourne': 87,
 'Cranbourne North': 88,
 'Cranbourne West': 89,
 'Cremorne': 90,
 'Croydon': 91,
 'Croydon Hills': 92,
 'Croydon North': 93,
 'Croydon South': 94,
 'Dallas': 95,
 'Dandenong': 96,
 'Dandenong North': 97,
 'Deepdene': 98,
 'Deer Park': 99,
 'Delahey': 100,
 'Derrimut': 101,
 'Diamond Creek': 102,
 'Diggers Rest': 103,
 'Dingley Village': 104,
 'Docklands': 105,
 'Doncaster': 106,
 'Doncaster East': 107,
 'Donvale': 108,
 'Doreen': 109,
 'Doveton': 110,
 'Eaglemont': 111,
 'East Melbourne': 112,
 'Edithvale': 113,
 'Elsternwick': 114,
 'Eltham': 115,
 'Eltham North': 116,
 'Elwood': 117,
 'Emerald': 118,
 'Endeavour Hills': 119,
 'Epping': 120,
 'Essendon': 121,
 'Essendon North': 122,
 'Essendon West': 123,
 'Eumemmerring': 124,
 'Fairfield': 125,
 'Fawkner': 126,
 'Ferntree Gully': 127,
 'Fitzroy': 128,
 'Fitzroy North': 129,
 'Flemington': 130,
 'Footscray': 131,
 'Forest Hill': 132,
 'Frankston': 133,
 'Frankston North': 134,
 'Frankston South': 135,
 'Gardenvale': 136,
 'Gisborne': 137,
 'Gisborne South': 138,
 'Gladstone Park': 139,
 'Glen Huntly': 140,
 'Glen Iris': 141,
 'Glen Waverley': 142,
 'Glenroy': 143,
 'Gowanbrae': 144,
 'Greensborough': 145,
 'Greenvale': 146,
 'Hadfield': 147,
 'Hallam': 148,
 'Hampton': 149,
 'Hampton East': 150,
 'Hampton Park': 151,
 'Hawthorn': 152,
 'Hawthorn East': 153,
 'Healesville': 154,
 'Heatherton': 155,
 'Heathmont': 156,
 'Heidelberg': 157,
 'Heidelberg Heights': 158,
 'Heidelberg West': 159,
 'Highett': 160,
 'Hillside': 161,
 'Hoppers Crossing': 162,
 'Hughesdale': 163,
 'Huntingdale': 164,
 'Hurstbridge': 165,
 'Ivanhoe': 166,
 'Ivanhoe East': 167,
 'Jacana': 168,
 'Kalkallo': 169,
 'Kealba': 170,
 'Keilor': 171,
 'Keilor Downs': 172,
 'Keilor East': 173,
 'Keilor Lodge': 174,
 'Keilor Park': 175,
 'Kensington': 176,
 'Kew': 177,
 'Kew East': 178,
 'Keysborough': 179,
 'Kilsyth': 180,
 'Kings Park': 181,
 'Kingsbury': 182,
 'Kingsville': 183,
 'Knoxfield': 184,
 'Kooyong': 185,
 'Kurunjang': 186,
 'Lalor': 187,
 'Langwarrin': 188,
 'Laverton': 189,
 'Lilydale': 190,
 'Lower Plenty': 191,
 'Lysterfield': 192,
 'Maidstone': 193,
 'Malvern': 194,
 'Malvern East': 195,
 'Maribyrnong': 196,
 'McKinnon': 197,
 'Meadow Heights': 198,
 'Melbourne': 199,
 'Melton': 200,
 'Melton South': 201,
 'Melton West': 202,
 'Mentone': 203,
 'Mernda': 204,
 'Mickleham': 205,
 'Middle Park': 206,
 'Mill Park': 207,
 'Mitcham': 208,
 'Monbulk': 209,
 'Mont Albert': 210,
 'Montmorency': 211,
 'Montrose': 212,
 'Moonee Ponds': 213,
 'Moorabbin': 214,
 'Mooroolbark': 215,
 'Mordialloc': 216,
 'Mount Evelyn': 217,
 'Mount Waverley': 218,
 'Mulgrave': 219,
 'Murrumbeena': 220,
 'Narre Warren': 221,
 'New Gisborne': 222,
 'Newport': 223,
 'Niddrie': 224,
 'Noble Park': 225,
 'North Melbourne': 226,
 'North Warrandyte': 227,
 'Northcote': 228,
 'Notting Hill': 229,
 'Nunawading': 230,
 'Oak Park': 231,
 'Oakleigh': 232,
 'Oakleigh East': 233,
 'Oakleigh South': 234,
 'Officer': 235,
 'Ormond': 236,
 'Pakenham': 237,
 'Parkdale': 238,
 'Parkville': 239,
 'Pascoe Vale': 240,
 'Patterson Lakes': 241,
 'Plenty': 242,
 'Plumpton': 243,
 'Point Cook': 244,
 'Port Melbourne': 245,
 'Prahran': 246,
 'Preston': 247,
 'Princes Hill': 248,
 'Research': 249,
 'Reservoir': 250,
 'Richmond': 251,
 'Riddells Creek': 252,
 'Ringwood': 253,
 'Ringwood East': 254,
 'Ringwood North': 255,
 'Ripponlea': 256,
 'Rockbank': 257,
 'Rosanna': 258,
 'Rowville': 259,
 'Roxburgh Park': 260,
 'Sandhurst': 261,
 'Sandringham': 262,
 'Scoresby': 263,
 'Seabrook': 264,
 'Seaford': 265,
 'Seaholme': 266,
 'Seddon': 267,
 'Silvan': 268,
 'Skye': 269,
 'South Kingsville': 270,
 'South Melbourne': 271,
 'South Morang': 272,
 'South Yarra': 273,
 'Southbank': 274,
 'Spotswood': 275,
 'Springvale': 276,
 'Springvale South': 277,
 'St Albans': 278,
 'St Helena': 279,
 'St Kilda': 280,
 'Strathmore': 281,
 'Strathmore Heights': 282,
 'Sunbury': 283,
 'Sunshine': 284,
 'Sunshine North': 285,
 'Sunshine West': 286,
 'Surrey Hills': 287,
 'Sydenham': 288,
 'Tarneit': 289,
 'Taylors Hill': 290,
 'Taylors Lakes': 291,
 'Templestowe': 292,
 'Templestowe Lower': 293,
 'The Basin': 294,
 'Thomastown': 295,
 'Thornbury': 296,
 'Toorak': 297,
 'Travancore': 298,
 'Truganina': 299,
 'Tullamarine': 300,
 'Upwey': 301,
 'Vermont': 302,
 'Vermont South': 303,
 'Viewbank': 304,
 'Wallan': 305,
 'Wandin North': 306,
 'Wantirna': 307,
 'Wantirna South': 308,
 'Warrandyte': 309,
 'Warranwood': 310,
 'Waterways': 311,
 'Watsonia': 312,
 'Watsonia North': 313,
 'Wattle Glen': 314,
 'Werribee': 315,
 'Werribee South': 316,
 'West Footscray': 317,
 'West Melbourne': 318,
 'Westmeadows': 319,
 'Wheelers Hill': 320,
 'Whittlesea': 321,
 'Wildwood': 322,
 'Williams Landing': 323,
 'Williamstown': 324,
 'Williamstown North': 325,
 'Windsor': 326,
 'Wollert': 327,
 'Wonga Park': 328,
 'Wyndham Vale': 329,
 'Yallambie': 330,
 'Yarra Glen': 331,
 'Yarraville': 332}

In [5]:
# Enumerate Region
encoder = LabelEncoder().fit(cleaned_df['Region'])
carp = {x: i for i, x in enumerate(encoder.classes_)}
carp

{'Eastern Metropolitan': 0,
 'Eastern Victoria': 1,
 'Northern Metropolitan': 2,
 'Northern Victoria': 3,
 'South-Eastern Metropolitan': 4,
 'Southern Metropolitan': 5,
 'Western Metropolitan': 6,
 'Western Victoria': 7}

In [6]:
# Convert to numerical variable 
cleaned_df['Suburb'] = LabelEncoder().fit_transform(cleaned_df['Suburb'])
cleaned_df['Suburb']

0          0
1          0
2          0
3          0
4          0
        ...
17693    327
17694    332
17695    332
17696    332
17697    332
Name: Suburb, Length: 17698, dtype: int32

In [7]:
# Convert to numerical variable 
cleaned_df['Type'] = LabelEncoder().fit_transform(cleaned_df['Type'])
cleaned_df['Type']

0        0
1        0
2        0
3        0
4        0
        ..
17693    0
17694    0
17695    0
17696    1
17697    0
Name: Type, Length: 17698, dtype: int32

In [8]:
cleaned_df['Region'] = LabelEncoder().fit_transform(cleaned_df['Region'])
cleaned_df['Region']

0        2
1        2
2        2
3        2
4        2
        ..
17693    2
17694    6
17695    6
17696    6
17697    6
Name: Region, Length: 17698, dtype: int32

In [9]:
# Convert categorical data to numeric and separate target feature for training data
X = cleaned_df.drop(["Log_Price", 'Price'],  axis = 1)

y = cleaned_df['Price']

X

       Suburb  Rooms  Type  Distance  Bathroom  Car  Region
0           0      2     0       2.5       1.0  1.0       2
1           0      2     0       2.5       1.0  0.0       2
2           0      3     0       2.5       2.0  0.0       2
3           0      3     0       2.5       2.0  1.0       2
4           0      4     0       2.5       1.0  2.0       2
...       ...    ...   ...       ...       ...  ...     ...
17693     327      3     0      25.5       2.0  2.0       2
17694     332      4     0       6.3       1.0  3.0       6
17695     332      2     0       6.3       2.0  1.0       6
17696     332      2     1       6.3       1.0  2.0       6
17697     332      2     0       6.3       1.0  0.0       6

[17698 rows x 7 columns]

In [10]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17698 entries, 0 to 17697
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Suburb    17698 non-null  int32
 1   Rooms     17698 non-null  int64
 2   Type      17698 non-null  int32
 3   Distance  17698 non-null  float64
 4   Bathroom  17698 non-null  float64
 5   Car       17698 non-null  float64
 6   Region    17698 non-null  int32
dtypes: float64(3), int32(3), int64(1)
memory usage: 760.6 KB

In [11]:
# split data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

#Scale data
scaler = StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [12]:
X_train_scaled.shape, X_test_scaled.shape

((14158, 7), (3540, 7))

# Data Modeling

## Linear Regression model

In [ ]:
# Fit the Linear Regression model with data
model_lr = LinearRegression().fit(X_train_scaled, y_train)

In [ ]:
# Calculate training and testing score 
training_score = model_lr.score(X_train_scaled, y_train)
testing_score = model_lr.score(X_test_scaled, y_test)

In [ ]:
# Print the training and testing score
print(f"Model: Linear Regression")
print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

In [19]:
# Initialize the Linear Regression model
lr_model = LinearRegression()

# Train the model on the training data
lr_model.fit(X_train_scaled, y_train)

# Predict on the testing data
y_pred_lr = lr_model.predict(X_test_scaled)

# Calculate evaluation metrics
lr_mse = mean_squared_error(y_test, y_pred_lr)
lr_rmse = mean_squared_error(y_test, y_pred_lr, squared=False)
lr_mae = mean_absolute_error(y_test, y_pred_lr)  # Fix: Use mean_absolute_error
lr_r2 = r2_score(y_test, y_pred_lr)

lr_mse, lr_rmse, lr_mae, lr_r2

(263305031644.15808, 513132.5673197503, 343080.5753475964, 0.401818669508635)

## Random Forest model

In [ ]:
# Fit the Random Forest model with data
model_rf = RandomForestRegressor(n_estimators = 100, criterion = 'squared_error',
                              random_state = 42,
                             max_depth = 2).fit(X_train, y_train)

In [ ]:
# Calculate the training and testing score
training_score = model_rf.score(X_train, y_train)
testing_score = model_rf.score(X_test, y_test)

In [ ]:
# Print the training testing score
print(f"Model: Randomized Search CV")
print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

## Decision Tree model

In [ ]:
# Fit the Decision Tree model with data
model_tree = DecisionTreeRegressor(criterion='squared_error', 
                                  splitter='best', max_depth=None, 
                                  min_samples_split=2,min_samples_leaf=1, 
                                  min_weight_fraction_leaf=0.0,max_features=None, 
                                  random_state= 42, max_leaf_nodes=None, 
                                  min_impurity_decrease=0.0, ccp_alpha=0.0,).fit(X_train, y_train)

In [ ]:
# Calculate training and testing score 
training_score = model_tree.score(X_train, y_train)
testing_score = model_tree.score(X_test, y_test)

In [ ]:
# Print the training testing score
print(f"Model: Decision Tree Regressor")
print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

## Randomized Search CV model

In [ ]:
# Fit the Randomized Search model with data
param_dists = {'criterion' : ['squared_error', 'friedman_mse',], 
                       'max_depth': [3,4,7, None],
                        'min_samples_split':np.arange(0.1, 1.1, 0.1),
                        'min_samples_leaf' : list(range(1, 21)), 
                        'max_features' : ['sqrt', 'log2', None]}

model_cv = RandomizedSearchCV(estimator = RandomForestRegressor(random_state= 42), 
                              param_distributions = param_dists,  n_iter=200, 
                              scoring= 'neg_mean_squared_error',
                              cv=5, random_state= 42).fit(X_train_scaled, y_train)

In [ ]:
# Calculate training and testing score 
training_score = model_cv.score(X_train_scaled, y_train)
testing_score = model_cv.score(X_test_scaled, y_test)

In [ ]:
# Print the training testing score
print(f"Model: Randomized Search CV")
print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

## Support Vector Regressor model

In [ ]:
# Fit the Support Vector Regressor model with data
model_svr = SVR(kernel = "rbf").fit(X_train_scaled, y_train)

In [ ]:
# Calculate training and testing score 
training_score = model_svr.score(X_train_scaled, y_train)
testing_score = model_svr.score(X_test_scaled, y_test)

In [ ]:
# Print the training testing score
print(f"Model: Support Vector Regressor")
print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

## Lasso model

In [ ]:
# Fit the Lasso model with data
model_lasso = Lasso(alpha =1.0 , max_iter = 1000).fit(X_train_scaled, y_train)

In [ ]:
# Calculate training and testing score 
training_score = model_lasso.score(X_train_scaled, y_train)
testing_score = model_lasso.score(X_test_scaled, y_test)

In [ ]:
# Print the training testing score
print(f"Model: Lasso Regression")
print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

## Ridge model

In [ ]:
# Fit the Ridge model with data
model_ridge = Ridge(alpha = 100).fit(X_train, y_train)

In [ ]:
# Calculate training and testing score 
training_score = model_ridge.score(X_train, y_train)
testing_score = model_ridge.score(X_test, y_test)

In [ ]:
# Print the training testing score
print(f"Model: Ridge Regression")
print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

## Tuning Decision Tree Model

In [ ]:
# Define the hyperparameters and their possible values
param_grid = {
    'max_depth': [None, 5, 10, 15, 20],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 5],
    'max_features': [None, 'sqrt', 'log2'],
    'ccp_alpha': [0.0, 0.01, 0.1]
}

# Initialize the Decision Tree Regressor
model_tree = DecisionTreeRegressor(random_state=42)

# Use GridSearchCV to find the best hyperparameters
grid_search = GridSearchCV(model_tree, param_grid, cv=5, scoring='r2', n_jobs=-1, verbose=1)
grid_search.fit(X_train, y_train)

# Get the best hyperparameters from the grid search
best_params = grid_search.best_params_
best_params

In [ ]:
# Fit the Decision Tree model with data
model_tree = DecisionTreeRegressor(criterion='squared_error', 
                                  splitter='best', max_depth=15, 
                                  min_samples_split=2,min_samples_leaf=5, 
                                  min_weight_fraction_leaf=0.0,max_features=None, 
                                  random_state= 42, max_leaf_nodes=None, 
                                  min_impurity_decrease=0.0, ccp_alpha=0.0,).fit(X_train, y_train)

In [ ]:
# Calculate training and testing score 
training_score = model_tree.score(X_train, y_train)
testing_score_tuned = model_tree.score(X_test, y_test)

In [ ]:
# Print the training testing score
print(f"Model: Decision Tree Regressor")
print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score_tuned}")

## Price Predictions

In [ ]:
 # Predict the price with Linear Regression model
y_pred = model_lr.predict(X_test)
pd.DataFrame({"Prediction": y_pred, "Actual": y_test})

In [ ]:
# Predict the price with Random Forest model 
y_pred = model_rf.predict(X_test)
pd.DataFrame({"Prediction": y_pred, "Actual": y_test})

In [ ]:
 # Predict the price with Decision Tree model 
y_pred = model_tree.predict(X_test)
pd.DataFrame({"Prediction": y_pred, "Actual": y_test})

In [ ]:
 # Predict the price with Random Search CV model 
y_pred = model_cv.predict(X_test)
pd.DataFrame({"Prediction": y_pred, "Actual": y_test})

In [ ]:
 # Predict the price with Support Vector Regressor model 
y_pred = model_svr.predict(X_test)
pd.DataFrame({"Prediction": y_pred, "Actual": y_test})

In [ ]:
 # Predict the price with Lasso model 
y_pred = model_lasso.predict(X_test)
pd.DataFrame({"Prediction": y_pred, "Actual": y_test})

In [ ]:
 # Predict the price with Ridge model 
y_pred = model_ridge.predict(X_test)
pd.DataFrame({"Prediction": y_pred, "Actual": y_test})

## Save and test the model

In [ ]:
# Saving model
pickle.dump(model_tree, open('../Trained_Model/model.pkl','wb'))

In [ ]:
test_df = pd.DataFrame({
    "Rooms": [2],
    "Type": [1],
    "Distance": [5],
    "Bathroom": [2],
    "Car": [2],
    "Region": [1],

})

# Create the index
index_ = ['0']

# Set the index
test_df.index = index_

In [ ]:
#Loading model to compare the results
model = pickle.load(open('../Trained_Model/model.pkl','rb'))
print(model.predict(test_df))